/* styles.css */
  
  body {
    font-family: Arial, sans-serif;
  }

.panel-heading {
  background-color: #337ab7;
    color: white;
}

.panel-body {
  background-color: #f5f5f5;
}

.btn-primary {
  background-color: #337ab7;
    border-color: #2e6da4;
}
#prediccion {
  font-size: 100px; /* Cambia el tamaño del texto */
  color:red;
}